/*
- change nav bar when less than given 
- change grid when more than given because
- add javascript to grid, add click
- make flex,  
extras- forms, javascript,  */
body {
    background-color: #dae1be;
    font-family: 'Nunito',"Times New Roman", Times, serif;
    color: #333;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    font-weight: bold;
    font-size: 150%
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left h1 {
    margin: 0;
  }
 
  nav ul {
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: #555555;
    margin-left: 25px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
  }

  nav a.active{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
    font-family: "Times new roman";
    color: #800080;
  } 
 @media screen and (max-width:600px){
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav{
    margin-top: 10px;
  }
 }
  .about-content {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height:100%;
  }
  
  .about-left {
    width: 50%;
  }
  
  .about-left img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .about-right {
    width: 50%;
    padding-left: 40px;
  }
    h2 {
    font-size: 200%;
    margin-bottom: 20px;
  }
  .about-right p {
    font-size: 100%;
    line-height: 1.5;
  }


  /*flex for projects*/
  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7%;
  }
  .project-h2,.fashion-h2{
    text-align: center;
    font-weight: bold;
    
  }
  .project-engr{
    border: 1px solid purple;
    border-radius: 0.5rem;
    background-color: #F5F5DC;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);;
    max-height:400px;
    margin:3%;
    padding: 3%;
  }
  h3 {
    font-size: 120%;
    margin: 0.5rem;
    color: purple;
    text-align: center;
  }
  .project-engr ul{
    margin-left:5%;
    line-height: 1.2;

  }
  
  @media screen and (min-width:700px){
    .projects {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }
    .project-engr {
      min-width: 300px;
      margin-bottom: 20px;
      flex: 1 0 30%; /* add this to make all blocks have the same width */
      min-height: 265px; 
    }
  }

  @media screen and (min-width:850px) {
    .projects {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    /*change media screen */ 
    .project-engr{
      width:20px;
      min-height: 0px;
      min-width: 0px;
    }

     
  }

  /*footer*/
  footer {
    background-color: #333;
    color: #dae1be;
    padding: 20px;
    text-align: center;
  }
  
  .contact-form {
    display: inline-block;
    text-align: left;
    width:60%;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .contact-form label {
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #F5F5DC;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: F5F5DC;
  }

  /*PHOTOGRAPHY PAGE*/
  .pictures{
    display: grid;
    grid-gap:10px;
    margin:20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1250px;
    overflow:hidden;
    width: cover;
  }

  .pictures .images {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .pictures img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .pictures :nth-child(4n){
    grid-column: 1/-1;
  }

  
  
  
 
  /*to make sure tag it is on is highlighted*/
  
  


  /*skip class */
  .skip-link{
    position:relative;
    top:-40px;
  }  
  /*for focus for skiplink*/
  .skip-link:focus{
    position:relative;
    top:20px;
  }

  /*fashion page*/
  /*
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio-link:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    opacity: 0.2;
  }
  
  .portfolio-link {
    position: relative;
    display: inline-block;
  }
  
  .portfolio-link:hover::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: purple;
    text-shadow: 1px 1px #333;
  }
  */
  @media (max-width: 800px) {
    .portfolio-link:hover::before {
      font-size: 16px;
    }
  }

/*button*/
#myButton, #pics1 {
  background-color: #333;
  border: none;
  color: #dae1be;
  padding: 12px 24px;
  text-align: center;
  font-size: 80%;
  cursor: pointer;
  margin: 0 auto 10px auto;
  display: block;
}

.fashion-h2{
  margin: 3%;
  font-size: 200%;
}

.fashion-board{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin:50px;
    justify-content: center;
    align-items: center;
}

/*.img-fluid {
  height: 300px;
  object-fit: cover;
  width: 200px;
  object-fit: cover;
  padding-bottom: 20px;
}
*/
.img-fluid{
  height:300px;
  width:200px;
  object-fit: cover;
  padding-bottom: 20px;
}
.fashion-board:nth-child(3n){
    height: 500px;
}
.fashion-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin:50px;
    justify-content: center;
    align-items: center;
}







